/* RESET */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* DEBUG */

.debug .row{
    background-color: aqua;
    width: 100%;
}
.debug .col{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* TIPOGRAPHY */

body{
    font-family: 'Roboto', sans-serif;
}

/* HEAD  */

header .row{
    display: flex;
    justify-content: space-between;
}
.col:nth-child(odd){
    width: 20%;
}
.col:nth-child(even){
    width: 60%;
}


/* MAIN  */

/* FOOTER */
