/* RESET */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* DEBUG */

/* parte header */
/* .debug header .row{
    background-color: aqua;
    width: 100%;
}
.debug header .col{
    height: 50px;
    background-color: blueviolet;
} */
/* /parte header */

/* parte main */
.debug main .row{
    background-color: aqua;
    width: 100%;
}
.debug main .col{
    height: 300px;
    background-color: blueviolet;
    border: 2px dashed black;
}
/* /parte main */

/* parte footer  */
.debug footer .row{
    background-color: aqua;
    width: 100%;
}
.debug footer .col{
    height: 50px;
    background-color: blueviolet;
    border: 2px dashed black;
}
/* /parte footer  */

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* TIPOGRAPHY */

header a{
    color: white;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}


/* HEADER  */

header{
    background-color: #FF6900;
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
header .col{
    display: flex;
}
header .col:nth-child(odd){
    width: 20%;
}
header .col:nth-child(even){
    width: 60%;
}
header a{
    padding: 5px;
}

/* colonna sinistra */

/* colonna centrale */
header .col-mid{
    justify-content: center;
}
header .logo img{
    height: 30px;
}

/* colonna destra */
header .col-right{
    justify-content: flex-end;
}

/* MAIN  */

main .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
main .col{
    width: calc(33% - 20px);
}

/* FOOTER */

footer .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer .col{
    width: 50%;
}
