/* RESET */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* DEBUG */

/* parte header */
/* .debug header .row{
    background-color: aqua;
    width: 100%;
}
.debug header .col{
    height: 50px;
    background-color: blueviolet;
} */
/* /parte header */

/* parte main */
/* .debug main .row{
    background-color: aqua;
    width: 100%;
}
.debug main .col{
    height: 300px;
    background-color: blueviolet;
    border: 2px dashed black;
} */
/* /parte main */

/* parte footer  */
/* .debug footer .row{
    background-color: aqua;
    width: 100%;
}
.debug footer .col{
    height: 50px;
    background-color: blueviolet;
    border: 2px dashed black;
} */
/* /parte footer  */

/* COMMON */
body{
    position: relative;
}
.container{
    max-width: 1200px;
    margin: auto;
}


/* TIPOGRAPHY */

header a{
    color: white;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
footer{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer strong{
    font-size: 25px;
}
footer .col-left{
    font-size: 20px;
}
main .price{
    color: red;
}
main .sconto{
    text-decoration: line-through;
}

/* HEADER  */

header{
    background-color: #FF6900;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 150;
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
header .col{
    display: flex;
}
header .col:nth-child(odd){
    width: 20%;
}
header .col:nth-child(even){
    width: 60%;
}
header a{
    padding: 5px;
}

/* colonna sinistra */

/* colonna centrale */
header .col-mid{
    justify-content: center;
}
header .logo img{
    height: 30px;
}

/* colonna destra */
header .col-right{
    justify-content: flex-end;
}

/* MAIN  */

main .container{margin-top: 100px;}
main .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
main .col{
    width: calc(33% - 20px);
    position: relative;
}
main img{
    width: 100%;
}
main .info{
    margin-bottom: 30px;
}
.real{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}
.hidden{
    position: relative;
}
.real:hover{
    display: none;
    transition: 0.3ms;
}


/* etichette e cuore */
.sconto-percentuale{
    background-color: red;
    text-align: center;
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 20%;
}
.eco{
    background-color: green;
    text-align: center;
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 17%;
}
.cuore{
    background-color: white;
    text-align: center;
    padding: 10px;
    color: black;
    position: absolute;
    top: 2%;
    right: 0%;
}
.cuore:hover{
    color: red;
}

/* FOOTER */

footer{
    background-color: black;
}
footer .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
footer .col{
    width: 50%;
    padding: 10px 0px;
}
footer a:nth-child(even){
    padding: 10px;
}
.footlink, .foot-icons{
    margin-top: 10px;
}
footer .banner{
    display: block;
}
footer .col-left{
    text-align: right;
}
